{% extends 'base.html' %}

{% block title %}記事一覧{% endblock %}

{% block content %}
  <h2>記事一覧</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for article in articles.items %}
      <article class="col">
        <div class="card">
          <a href="{{ url_for('article', article_id=article.id) }}">
            <img src="{{ article.image_url }}" class="card-img" alt="{{ article.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text"><small class="text-muted">{{ article.created_at.strftime('%Y-%m-%d') }}</small></p>
            </div>
          </a>
        </div>
      </article>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if articles.has_prev %}
        <li class="page-item"><a class="page-link" href="{{ url_for('article_list', page=articles.prev_num) }}">前へ</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</a></li>
      {% endif %}

      {% for page_num in articles.iter_pages() %}
        {% if page_num %}
          {% if articles.page == page_num %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="{{ url_for('article_list', page=page_num) }}">{{ page_num }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('article_list', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {% endif %}
      {% endfor %}

      {% if articles.has_next %}
        <li class="page-item"><a class="page-link" href="{{ url_for('article_list', page=articles.next_num) }}">次へ</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">次へ</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}